.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-family: "LatoRegular";
  font-weight: normal;
  margin-right: 20px;
}

.loginForm label {
  margin-bottom: 8px;
  font-weight: bold;
}

.loginForm input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30em;
  box-sizing: border-box;
}

.errorPoruka {
  border: 2px solid red;
  font-size: 0.8em;
  text-align: center;
  padding: 0;
  margin-top: 2em;
  font-family: 'LatoBold';
  font-weight: bold;
  font-size: 18px;
  max-width: 50em;
  margin-left:auto;
  margin-right: auto;
}