.knjiga {
  margin: 1rem 0;
  background-color: #575757;
  padding: 1rem;
}

.knjiga h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.knjiga header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.detalji {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kolicina span {
  font-size: 1.5rem;
  font-weight: bold;
}

.cijena {
  font-size: 1.5rem;
  font-weight: bold;
}

.cijenaKnjige {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.gumbovi {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.gumbovi button {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: white;
}

.gumbovi button:hover,
.gumbovi button:active {
  background-color: #4b4b4b;
  color: white;
}