@font-face {
  font-family: 'LatoRegular';
  src: url('fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('fonts/Lato-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  margin-left: 20px;
  font-family: 'LatoRegular';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
