.error-page {
    text-align: center;
}

.error-page h1 {
    font-family: 'LatoBold';
    font-weight: bold;
    margin-top: 4.5em;
    font-size: 42px;
}

.error-page p {
    font-family: 'LatoRegular';
    font-size: 26px;
}

